.intro {
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 10.8rem 0 19rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    align-items: flex-start;
  }

  &__suptitle {
    font-size: 2.4rem;
    color: hsla(0, 0%, 40%, 1);
  }

  &__title {
    color: hsla(260, 19%, 15%, 1);
    font-weight: bold;
    font-size: 6rem;
    margin-bottom: 2rem;
  }

  &__subtitle {
    font-size: 2.1rem;
    margin-bottom: 5.4rem;
  }
}

.intro__img {
  width: 100%;
  max-width: 1000px;
  min-width: 600px;
  z-index: -1;
  position: absolute;
  right: -15rem;
  top: -11rem;

  img {
    width: 100%;
  }
}

@media (max-width: 1070px) {
  .intro__img {
    top: -7rem;
    right: -20rem;
  }
}

@media (max-width: 630px) {

  .intro__inner {
    flex-direction:column-reverse;
    align-items: center;
    padding-top: 50rem;
    padding-bottom: 5rem;
  }

  .intro__img {
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    aspect-ratio: 1/1;
  }

  .intro__content {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .intro__inner {
    padding-top: 44rem;
  }
  .intro__img {
    top: -14rem;

    img {
      width: 80%;
    }
  }

  .intro__title {
    font-size: 4rem;
  }

  .intro__subtitle {
    margin-bottom: 3rem;
  }
}