.portfolio {
  position: relative;
  padding: 5rem 0 6.8rem;

  &__bg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%);
    filter: blur(75px);
    position: absolute;
    z-index: -1;
  }

  &__inner {
    display: grid;
    gap: 2.5rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    color: hsla(260, 19%, 15%, 1);
    font-size: 2.4rem;
    font-weight: 500;
    display: flex;
    gap: 1.3rem;
    align-items: center;
    text-decoration: none;

    svg {
      width: 24px;
      height: 24px;
      padding: 4px 3px;
      fill: var(--main-color);
    }

    span {
      position: relative;
    }

    span::after {
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background-color: hsla(260, 19%, 15%, 1);
      bottom: -1px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  &__img {
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(0px 20px 50px rgba(220, 192, 255, 0.3));

    img {
      width: 100%;
    }
  }
}

@media (max-width: 640px) {
  .portfolio__content {
    flex-direction: column;
  }

  .portfolio {
    padding: 3rem 0;
  }
}

@media (max-width: 390px) {
  .portfolio__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .portfolio__link {
    align-self: flex-end;
  }
}