.section {

  &__header {
    width: 100%;
    max-width: 24rem;

    &--wide-roboto {
      font-family: var(--Roboto);
      max-width: 100%;

      .section__title {
        max-width: 52rem;
        font-weight: 500;
        line-height: 5.2rem;
        color: hsla(230, 15%, 15%, 1);
      }
    }
  }

  &__suptitle {
    font-size: 1.8rem;
    padding-bottom: 1.2rem;
    margin-bottom: 1.5rem;
    position: relative;

    &::after {  
      content: '';
      display: block;
      position: absolute;
      width: 5rem;
      height: 0.2rem;
      background-color: var(--main-color);
      bottom: 0;
      left: 0;
    }
  }

  &__title {
    font-size: 3.6rem;
    font-weight: bold;
    color: hsla(259, 19%, 15%, 1);
  }
}