.services {
  display: flex;
  padding: 5rem 0 10rem;
  justify-content: space-between;
  gap: 1rem;

  &__item {
    display: grid;
    gap: 2rem;
    max-width: 35rem;
  }

  &__header {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__title {
    color: hsla(259, 19%, 15%, 1);
    font-size: 2.4rem;
    font-weight: 500;
  }

  &__logo {
    width: 62px;
    height: 60.59px;
    background-image: url('/assets/img/services_polygon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    color: hsla(259, 7%, 29%, 1);
    font-size: 1.6rem;
  }
}

@media (max-width: 800px) {
  .services__logo {
    width: 42px;
    height: 40.59px;

    svg {
      width: 40%;
    }
  }

  .services {
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;

    &__item {
      max-width: 100%;
    }
  }
}