.stack {
  padding: 10rem 0;

  &__inner {
    display: grid;
    gap: 4.4rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    flex-shrink: 1;
    flex-grow: 1;
    gap: 5px;
  }

  &__item {
    --border-color: #ffecd7;
    --bg-color: #fff5e7;
    background-color: var(--bg-color);
    width: 100%;
    max-width: 170px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 124px;
      height: 124px;
      background: var(--border-color);
      filter: blur(50px);
      border-radius: 10px;
      z-index: -1;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-child(2) {
      --border-color: rgb(204, 235, 255);
      --bg-color: rgb(235, 248, 255);
    }

    &:nth-child(3) {
      --border-color: rgb(255, 246, 204);
      --bg-color: rgb(255, 255, 235);
    }

    &:nth-child(4) {
      --border-color: rgb(204, 207, 255);
      --bg-color: rgb(237, 235, 255);
    }

    &:nth-child(5) {
      --border-color: rgb(204, 228, 255);
      --bg-color: rgb(235, 254, 255);
    }
  }

  &__logo {
    width: 100%;
    max-width: 50px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 1.8rem;
    color: hsla(0, 0%, 0%, 1);
    font-weight: 500;
  }
}

@media (max-width: 730px) {
  .stack__content {
    padding: 0;
  }

  .stack {
    padding: 7rem 0;
  }
}

@media (max-width: 640px) {
  .stack__item {
    gap: 1rem;
  } 

  .stack {
    padding: 3rem 0;
  }
}

@media (max-width: 540px) {

  .stack__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .stack__item {
    width: 110px;
  }
}