@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Red+Hat+Display:wght@400;500;700&family=Roboto:wght@400;500&display=swap');

:root {
  --RedHat: 'Red Hat Display', sans-serif;
  --Roboto: 'Roboto', sans-serif;
  --main-color: hsla(266, 69%, 56%, 1);
}