@import './styles/var';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 0.625rem;
  scroll-behavior: smooth;
}

body {
  background-color: hsla(0, 0%, 100%, 1);

  &.show-nav {
    overflow: hidden;
    
    .burger__bg {
      opacity: 1;
      z-index: 40;
    }

    .burger__menu {
      z-index: 100;
      opacity: 1;
    }
  }

  &.show {
    overflow: hidden;
  
    .modal {
      opacity: 1;
      z-index: 100;
  
      &__bg {
        opacity: 1;
      }
      
      &__content {
        margin-top: 0;
        opacity: 1;
      }
    }
  }
}

.container {
  width: 100%;
  font-family: var(--RedHat);
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  overflow: hidden;
}

button {
  cursor: pointer;
  outline: transparent;
  border: none;
  background: none;

  &:active {
    transform: scale(1.05);
  }
}

.btn {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--RedHat);
  font-size: 2.4rem;
  font-weight: 500;
  background-color: var(--main-color);
  color: hsla(0, 0%, 100%, 1);
  border-radius: 100px;
  transition: transform .05s ease, background 0.05s ease-in;

  &--small {
    font-size: 1.8rem;
  }

  &:hover {
    background-color: hsla(266, 69%, 66%, 1);
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 15px 0 0 15px;
}

@import './styles/section';
@import './styles/header';
@import './styles/intro';
@import './styles/services';
@import './styles/portfolio';
@import './styles/stack';
@import './styles/testimonials';
@import './styles/blog';
@import './styles/contact';
@import './styles/modal';

@media (max-width: 1070px) {
  html {
    font-size: .5rem;
  }
}

@media (max-width: 730px) {
  html {
    font-size: .45rem;
  }

  .container {
    padding: 0 10px;
  }

  .btn {
    width: 160px;
    height: 45px;
  }
}